@using System.Reflection
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@inject LazyAssemblyLoader assemblyLoader

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="lazyLoadedAssemblies" 
            OnNavigateAsync="@OnNavigateAsync">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>

@code {

    private List<Assembly> lazyLoadedAssemblies = new List<Assembly>();

    private async Task OnNavigateAsync(NavigationContext context)
    {
        if(context.Path.Contains("Contact"))
        {
            var assemblies = await assemblyLoader
                .LoadAssembliesAsync(new List<string>() { "WiredBrainCoffee.Components.dll" });

            lazyLoadedAssemblies.AddRange(assemblies);
        }

    }
}
