@namespace WiredBrainCoffee.Admin
@inject IOrderService OrderService

<div>
    <h2>Order History:</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Notes</th>
                <th scope="col">Total</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var order in orderHistory.Orders)
            {
            <tr>
                <th>@order.Id</th>
                <th>@order.OrderNumber</th>
                <td>
                    @foreach (var item in order.Items)
                    {
                        <p>@item.Name</p>
                    }
                </td>
                <td>@order.Notes</td>
                <td>@order.Total</td>
                <td>@order.Created</td>
            </tr>
            }
        </tbody>
    </table>
</div>


@code {
    private OrderHistory orderHistory { get; set; } = new OrderHistory();

    protected async override Task OnInitializedAsync()
    {
        orderHistory = await OrderService.GetOrders();
    }
}
